:root {
    /* Color styles */
    --blue--100: rgba(214, 234, 254, 1);
    --blue--200: rgba(174, 213, 254, 1);
    --blue--300: rgba(133, 192, 253, 1);
    --blue--400: rgba(93, 171, 253, 1);
    --blue--500: rgba(52, 150, 252, 1);
    --blue--600: rgba(42, 120, 202, 1);
    --blue--700: rgba(31, 90, 151, 1);
    --blue--800: rgba(21, 60, 101, 1);
    --blue--900: rgba(10, 30, 50, 1);
    --green--100: rgba(204, 244, 242, 1);
    --green--200: rgba(153, 233, 228, 1);
    --green--300: rgba(102, 223, 215, 1);
    --green--400: rgba(51, 212, 201, 1);
    --green--500: rgba(0, 201, 188, 1);
    --green--600: rgba(0, 161, 150, 1);
    --green--700: rgba(0, 121, 113, 1);
    --green--800: rgba(0, 80, 75, 1);
    --green--900: rgba(0, 40, 38, 1);
    --purple--100: rgba(235, 225, 237, 1);
    --purple--200: rgba(215, 194, 219, 1);
    --purple--300: rgba(194, 164, 201, 1);
    --purple--400: rgba(174, 133, 183, 1);
    --purple--500: rgba(154, 103, 165, 1);
    --purple--600: rgba(123, 82, 132, 1);
    --purple--700: rgba(92, 62, 99, 1);
    --purple--800: rgba(62, 41, 66, 1);
    --purple--900: rgba(31, 21, 33, 1);
    --pink--100: rgba(255, 226, 233, 1);
    --pink--200: rgba(255, 197, 211, 1);
    --pink--300: rgba(255, 169, 189, 1);
    --pink--400: rgba(255, 140, 167, 1);
    --pink--500: rgba(255, 111, 145, 1);
    --pink--600: rgba(204, 89, 116, 1);
    --pink--700: rgba(153, 67, 87, 1);
    --pink--800: rgba(102, 44, 58, 1);
    --pink--900: rgba(51, 22, 29, 1);
  
    /* Text-size styles */
    --xs: 4px;
    --sm: 10px;
    --md: 14px;
    --lg: 18px;
    --xl: 22px;
  }